.card-img-overlay {
	background-color: rgba(255,255,255,0.3);
}

.overlay{
	background-color: white;
	border-radius: 20px;
	text-align: center;
}
.card-img-overlay:hover .overlay {
    display: none;
}
.card:hover .card-img-overlay {
    visibility: hidden;
}

.gollum {
	border-radius: 100px;
}
