.card-img-overlay {
	background-color: rgba(255,255,255,0.3);
}

.overlay{
	background-color: white;
	border-radius: 20px;
	text-align: center;
}
.card-img-overlay:hover {
	visibility: hidden;
}
.overlay:hover {
	visibility: hidden;
	
}
